n8n-workflow-survey-example.json
{
  "name": "Discord Survey Control Example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "id": "1a2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.command}}",
              "operation": "equal",
              "value2": "survey"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1.1,
      "position": [
        460,
        300
      ],
      "id": "2b3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "If Survey Command"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "equal",
              "value2": "end"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1.1,
      "position": [
        680,
        240
      ],
      "id": "3c4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "If Final Result"
    },
    {
      "parameters": {
        "jsCode": "// Process the survey step\nconst result = $input.item.json.result;\nconst stepName = result.stepName;\nconst stepValue = result.value;\n\n// Validate the step value\nlet isValid = true;\nlet errorMessage = \"\";\n\n// Example validation for workload steps\nif (stepName.startsWith('workload_') && (isNaN(stepValue) || stepValue < 0 || stepValue > 50)) {\n  isValid = false;\n  errorMessage = \"Invalid workload value. Please enter a number between 0 and 50.\";\n}\n\n// Check if we should end the survey early\n// For example, if the workload is 0, we might not need additional information\nconst shouldEndEarly = stepName === 'workload_today' && stepValue === 0;\n\n// Return the appropriate response\nif (!isValid) {\n  return {\n    output: errorMessage,\n    survey: \"cancel\"\n  };\n} else if (shouldEndEarly) {\n  return {\n    output: \"Thank you for your response. Since your workload is 0, we don't need additional information.\",\n    survey: \"cancel\"\n  };\n} else {\n  return {\n    output: `Thank you for submitting ${stepName}: ${stepValue}`,\n    survey: \"continue\"\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "id": "4d5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "Process Survey Step"
    },
    {
      "parameters": {
        "jsCode": "// Process the final survey result\nconst result = $input.item.json.result;\nconst stepName = result.stepName;\nconst stepValue = result.value;\n\n// Here you can save the survey results to a database or perform other actions\n\nreturn {\n  output: \"Thank you for completing the survey! All your responses have been recorded.\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.1,
      "position": [
        900,
        120
      ],
      "id": "5e6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "Process Final Result"
    },
    {
      "parameters": {
        "jsCode": "// Default response for non-survey commands\nreturn {\n  output: \"Command processed successfully.\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.1,
      "position": [
        680,
        460
      ],
      "id": "6f7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "Default Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ],
      "id": "7g8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Survey Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Survey Command": {
      "main": [
        [
          {
            "node": "If Final Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Default Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Final Result": {
      "main": [
        [
          {
            "node": "Process Final Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Survey Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Survey Step": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Final Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
} 